@import "~ngx-toastr/toastr";
.iq-sub-card{
  cursor: pointer;
}

img{
  object-fit: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }







