
<div id="loading">
  <div id="loading-center">
  </div>
</div>
<!-- loader END -->

<div class="wrapper">
  <section  class="sign-in-page">

    <div class="container p-0">
      <div class="row no-gutters">
        <div class="col-md-6 text-center pt-5">
          <div class="sign-in-detail text-white">
            <a class="sign-in-logo mb-5" href="#"><img src="assets/images/logo-full.png"
                                                       class="img-fluid" alt="logo"></a>
            <div class="sign-slider overflow-hidden ">
              <ul class="swiper-wrapper list-inline m-0 p-0 ">
                <li class="swiper-slide">
                  <img src="assets/images/login/1.png" class="img-fluid mb-4" alt="logo">
                  <h4 class="mb-1 text-white">Find new friends</h4>
                  <p>It is a long established fact that a reader will be distracted by the readable
                    content.</p>
                </li>

              </ul>
            </div>
          </div>
        </div>
        <div style="margin-top: -20px" class="col-md-6 bg-white pt-5 pt-5 pb-lg-0 pb-5">
          <div class="sign-in-from">
            <h1 class="mb-0">Sign Up</h1>
            <form class="mt-4">
              <div class="form-group">
                <input type="text" class="form-control mb-0" id="name" placeholder="Your Full Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control mb-0" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control mb-0" id="username" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="password" class="form-control mb-0" id="password" placeholder="Password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control mb-0" id="passwordConfirm"
                       placeholder="Password Confirm">
              </div>
              <div class="form-group">
                <input type="text" class="form-control mb-0" id="phone" placeholder="Phone">
              </div>
              <div class="form-group">
                <input type="date" class="form-control mb-0" id="date" placeholder="birthday">
              </div>
              <div class="d-inline-block w-100">
                <button type="submit" class="btn btn-primary ">Sign Up</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Backend Bundle JavaScript -->

