
                  <div class="wrapper">
                    <div class="iq-top-navbar">
                      <div class="iq-navbar-custom">
                        <nav style="display: grid; grid-template-columns: 38.33% 31.33% 30.34%" class="navbar navbar-expand-lg navbar-light p-0">
                          <div class="iq-navbar-logo d-flex justify-content-between">
                            <a>
                              <img src="assets/images/logo.png" class="img-fluid" alt="">
                              <span>SocialV</span>
                            </a>
                          </div>

                          <div style="">
                           <h2>User Management</h2>
                          </div>

                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav  ms-auto navbar-list">
                              <li routerLink="/Admin" style="cursor: pointer" >
                                <a class=" d-flex align-items-center">
                                  <i class="ri-logout-box-line"></i>
                                </a>
                              </li>

                            </ul>
                          </div>
                        </nav>
                      </div>
                    </div>

                    <div id="content-page" class="content-page">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-12 row m-0 p-0">
                            <div class="card p-0"  >
                              <div class="card-body p-0">

                                <table  class="table table-bordered table-responsive-md table-striped text-center">
                                  <thead>
                                  <tr class="table-primary">
                                    <th>Name</th>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>Friend Quantity</th>
                                    <th>Status</th>
                                    <th colspan="2">Action</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr  *ngFor="let st of getPageData(),index as i  ">
                                    <td>{{st.name}}</td>
                                    <td>{{st.username}}</td>
                                    <td>{{st.email}}</td>
                                    <td>{{count[i]}}</td>

                                    <td> <p *ngIf="!st.status">Block</p>
                                      <p  *ngIf="st.status">Active</p></td>
                                    <td>
                                      <button class="btn btn-danger btn-rounded btn-sm my-0" (click)="blockAndActiveUser(st.id!)" *ngIf="st.status">Block</button>
                                      <button class="btn btn-success btn-rounded btn-sm my-0" (click)="blockAndActiveUser(st.id!)" *ngIf="!st.status">Active</button>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                                <mat-paginator [pageSize]="pageSize"
                                               [pageIndex]="pageIndex"
                                               [length]="userList.length"
                                               (page)="pageIndex = $event.pageIndex">
                                </mat-paginator>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>


                  <!-- Wrapper End-->
                  <footer class="iq-footer bg-white">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-lg-6">
                          <ul class="list-inline mb-0">
                            <li class="list-inline-item"><a href="">Privacy Policy</a></li>
                            <li class="list-inline-item"><a href="">Terms of Use</a></li>
                          </ul>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-end">
                          Copyright 2020 <a href="#">SocialV</a> All Rights Reserved.
                        </div>
                      </div>
                    </div>
                  </footer>
