<div id="loading">
  <div id="loading-center">
  </div>
</div>
<!-- loader END -->

<div class="wrapper">
  <section class="sign-in-page">
    <div id="container-inside">
      <div id="circle-small"></div>
      <div id="circle-medium"></div>
      <div id="circle-large"></div>
      <div id="circle-xlarge"></div>
      <div id="circle-xxlarge"></div>
    </div>
    <div class="container p-0">
      <div class="row no-gutters">
        <div class="col-md-6 text-center pt-5">
          <div class="sign-in-detail text-white">
            <a class="sign-in-logo mb-5" href="#"><img src="assets/images/logo-full.png" class="img-fluid" alt="logo"></a>
            <div class="sign-slider overflow-hidden ">
              <ul  class="swiper-wrapper list-inline m-0 p-0 ">
                <li class="swiper-slide">
                  <img src="assets/images/login/1.png" class="img-fluid mb-4" alt="logo">
                  <h4 class="mb-1 text-white">Find new friends</h4>
                  <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 bg-white pt-5 pt-5 pb-lg-0 pb-5">
          <div class="sign-in-from">
            <h1 class="mb-0">Sign in</h1>
            <p>Enter your email address and password to access admin panel.</p>
            <form class="mt-4"  [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group">
                <label class="form-label" for="exampleInputEmail1">Users Name</label>
                <input type="username" class="form-control mb-0" id="exampleInputEmail1" placeholder="Enter Username" formControlName="username">
                <span *ngIf="loginForm.get('username')?.errors?.['pattern']" style="color: red">Not Be special characters . </span>
                <span *ngIf="loginForm.get('username')?.errors?.['required'] && loginForm.get('username')?.touched" style="color: red">Not Be Empty </span>
              </div>
              <div class="form-group">
                <label class="form-label" for="exampleInputPassword1">Password</label>
                <a href="#" class="float-end">Forgot password?</a>
                <input type="password" class="form-control mb-0" id="exampleInputPassword1" placeholder="Password" formControlName="password">
                <span *ngIf="loginForm.get('password')?.errors?.['minlength']" style="color: red">Must be more than 6 characters .</span>
                <span *ngIf="loginForm.get('password')?.errors?.['maxlength']" style="color: red">Must be more than 32 characters .</span>
                <span *ngIf="loginForm.get('password')?.errors?.['pattern']" style="color: red">Not Be special characters .</span>
                <span *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched" style="color: red">Not Be Empty </span>
              </div>
              <div class="d-inline-block w-100">
                <div class="form-check d-inline-block mt-2 pt-1">
                  <input type="checkbox" class="form-check-input" id="customCheck11">
                  <label class="form-check-label" for="customCheck11">Remember Me</label>
                </div>
                <button type="submit" class="btn btn-primary float-end">Sign in</button>
              </div>
              <div class="sign-info">
                <span class="dark-color d-inline-block line-height-2">Don't have an account? <span routerLink="/Registration" >Sign up</span></span>
                <ul class="iq-social-media">
                  <li><a href="#"><i class="ri-facebook-box-line"></i></a></li>
                  <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                  <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
