<div style="width: 70%;" class="modal-body" >
  <div class="d-flex align-items-center">
    <div class="user-img">
      <img src="assets/images/user/1.jpg" alt="userimg" class="avatar-60 rounded-circle img-fluid">
    </div>
    <form class="post-text ms-3 w-100" action="">
      <input type="text" class="form-control rounded" placeholder="Write something here..." style="border:none;">
    </form>
  </div>
  <hr>
  <ul style="height: 200px" class="d-flex flex-wrap list-inline m-0 p-0">
    <li style="margin-right: 50px; margin-top: 5px" class="col-md-1 mb-3">
      <div style="width: 100px" class="btn btn-soft-primary" >
        <label for="image-post"><img alt="" src="assets/images/small/07.png"  >
          Photo</label>
        <input class="file-upload" id="image-post" type="file"/>
      </div>
    </li>
    <li>
      <div class="dropdown">
                                       <span class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                       <span style="margin-top: 5px" class="btn btn-primary ">Friend</span>
                                       </span>
        <div class="dropdown-menu m-0 p-0">
          <a class="dropdown-item p-3" href="#">
            <div class="d-flex align-items-end">
              <i class="ri-save-line h4"></i>
              <div class="data ms-2">
                <h6>Public</h6>
                <p class="mb-0">Anyone on or off Facebook</p>
              </div>
            </div>
          </a>
          <a class="dropdown-item p-3" href="#">
            <div class="d-flex align-items-end">
              <i class="ri-close-circle-line h4"></i>
              <div class="data ms-2">
                <h6>Friends</h6>
                <p class="mb-0">Your Friend on facebook</p>
              </div>
            </div>
          </a>
          <a class="dropdown-item p-3" href="#">
            <div class="d-flex align-items-end">
              <i class="ri-notification-line h4"></i>
              <div class="data ms-2">
                <h6>Only Me</h6>
                <p class="mb-0">Only me</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </li>
  </ul>

  <hr>

  <button type="submit" class="btn btn-primary d-block w-100 mt-3">Post</button>
</div>
